<strong>Ola, {{ user }}</strong>
<p>Voce foi cadastrado no {{ restaurant }}, confira os detalhes abaixo: </p>
<p>
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    Tudo certo!
  </small>
</p>